 <div class="login"><h2><a href="#">Log in</a></h2>
  <form class="login-form" action="/users" method="post">
    <input type="email" name="user[email]" placeholder="Email" />
    <input type="password" name="user[password]" placeholder="Password"/>
    <input type="submit" value="Login"/></form>
  </div>
