  <br>
  <br>
  <text>Add a new medminder!</text><form class="new-meds-form" action="/medminders" method="post">
    <input type="text" name="medminder[name]" placeholder="Medication" />
    <input type="text" name="medminder[phone_number]" placeholder="Phone number" />
    <input type="text" name="medminder[time]" placeholder="time of reminder"/>


    <input type="submit" value="Add"  /></form>
  </div>
