
<h2>Current Medminders:</h2>
<form align="center" action="/medreminders" method="get">
  <p> <label for="name">Name of med:</label></p>
  <input type="text" name="medreminder[name]" value="<%= @user.medminders.name %>"/>
</form>


