<div class="container">

            <form class="new-user-form" action="/users" method="post">
            <input type="text" name="user[name]" placeholder="Full Name" />
            <input type="email" name="user[email]" placeholder="Email" />
            <input type="password" name="user[password]" placeholder="Password"/>
            <input type="number" name="user[phone_number]" placeholder="Phone" />
            <a class="waves-effect waves-light btn"><input type="submit" value="Register"/></a>
            </form>

</div>
