<h1>Welcome back, <%= @user.name %> </h1>
<br>
<h2>Current Medminders:</h2>
 <%@medminders.each do |medminder|%>
  <%=medminder.name %>
  <form action="/users/<%=@user.id%>/medminders/<%="#{medminder.id}"%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button class="delete_button" type="submit">Delete</button>
  </form>
  <button class="send-text">Medminder!</button>
  <%end%>
