<h1>Medminders</h1>

  <div class="title"><h2><a href="#">Sign up!</a></h2></div>
  <form class="new-user-form" action="/user" method="post">
    <input type="text" name="user[name]" placeholder="Full Name" />
    <input type="email" name="user[email]" placeholder="Email" />
    <input type="number" name="user[phone_number]" placeholder="Phone" />

    <input type="submit" value="Register"  />
  </form>

<h3>Hey, mind your meds</h3>
