<h1>Medminders</h1>

  <div class="new-user"><h2><a href="#">Sign up!</a></h2>
  <form class="new-user-form" action="/user" method="post">
    <input type="text" name="user[name]" placeholder="Full Name" />
    <input type="email" name="user[email]" placeholder="Email" />
    <input type="password" name="user[password]" placeholder="Password"/>
    <input type="number" name="user[phone_number]" placeholder="Phone" />
    <input type="submit" value="Register"  /></form>
  </div>

  <div class="login"><h2><a href="#">Log in</a></h2>
  <form class="login-form" action="/sessions" method="post">
    <input type="email" name="user[email]" placeholder="Email" />
    <input type="password" name="user[password]" placeholder="Password"/>
    <input type="submit" value="Login"/></form>
  </div>
<h3>Hey, mind your meds</h3>
